<h1 style="font-size: 18px">Egress<br><br>
    <table align="left" style="font-size: 18px ; border: 1px solid rgb(0 , 0 , 0) ; border-collapse: collapse"
        cellpadding="5" border="1">
        <tbody style="font-size: 18px">
            <tr style="font-size: 18px">
                <td style="font-size: 18px"><span style="font-weight: normal ; font-size: 18px">Port</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; font-size: 18px">Protocol</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; font-size: 18px">CidrBlock</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; font-size: 18px">Action</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; font-size: 18px">RuleNumber</span></td>
            </tr>
            {% for Entry in Entries %}
            {% if Entry.Egress|string() == "True" %}
            <tr style="font-size: 18px">
                <td style="font-size: 18px"><span style="font-weight: normal ; text-align: center ; font-size: 12px">{{Entry.PortRange}}</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; text-align: center ; font-size: 12px">{% if Entry.Protocol == "-1" %}All{% else %}{{ Entry.Protocol }}{% endif %}</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; text-align: center ; font-size: 12px">{{Entry.CidrBlock}}</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; text-align: center ; font-size: 12px">{{Entry.RuleAction}}</span></td>
                <td style="font-size: 18px"><span style="font-weight: normal ; text-align: center ; font-size: 12px">{{Entry.RuleNumber}}</span></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</h1>